In [3]:
# IMPORT GENERIC PACKAGES
import numpy as np # numerical calc package
import pandas as pd # holds data
import matplotlib.pyplot as plt # plotting library
import seaborn as sns # pretty plotting

sns.set(rc={'figure.figsize':(20,10)})

from sklearn.model_selection import train_test_split # split dataset

from sklearn.linear_model import LogisticRegression # linear model for classification

from sklearn.metrics import confusion_matrix

from sklearn.metrics import classification_report


from xgboost import XGBClassifier

from sklearn.datasets import load_digits
from sklearn.feature_selection import SelectKBest, chi2

In [4]:
data = pd.read_csv("census.csv")

In [5]:
data.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [6]:
data.columns

Index(['age', 'workclass', 'education_level', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [7]:
data.shape

(45222, 14)

In [8]:
#UNIQUE = VALUES
#nunique = no. of values

data['marital-status'].nunique()

7

In [9]:
data.describe()

                age  education-num  capital-gain  capital-loss  hours-per-week
count  45222.000000   45222.000000  45222.000000  45222.000000    45222.000000
mean      38.547941      10.118460   1101.430344     88.595418       40.938017
std       13.217870       2.552881   7506.430084    404.956092       12.007508
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       47.000000      13.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [10]:
data.columns

Index(['age', 'workclass', 'education_level', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [11]:
# features
features = ['age', 'workclass', 'education_level', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']
#Set X
X_dum = data[features]
X = pd.get_dummies (X_dum)

# set Y

y= data ['income']

In [12]:
data.shape

(45222, 14)

In [13]:
X.shape

(45222, 103)

In [14]:

X_new = SelectKBest(chi2, k=103).fit_transform(X,y)
X_new.shape

(45222, 103)

In [15]:
### Clean Data
# Convert to float
data['education_level'] = pd.to_numeric(data['education_level'], errors='coerce')
data['education_level'] = data['education_level'].fillna(0)

data['sex'] = pd.to_numeric(data['sex'], errors='coerce')
data['sex'] = data['sex'].fillna(0)

data['race'] = pd.to_numeric(data['race'], errors='coerce')
data['race'] = data['race'].fillna(0)

#data['occupation'] = pd.to_numeric(data['occupation'], errors='coerce')
#data['occupation'] = data['occupation'].fillna(0)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 42)

In [17]:
model = XGBClassifier()
model.fit(X_train, y_train)

# metrics (accuracy)
acc = model.score(X_test, y_test)


# predictions
y_pred = model.predict(X_test)

In [18]:
# feature importance
#log_reg.coef_

In [19]:
# accuracy
acc

0.8623472828790978

In [20]:
#REPORT PRECISION RECALL F1-SCORE AND SUPPORT

report = classification_report(y_pred, y_test)
print (report)

              precision    recall  f1-score   support

       <=50K       0.95      0.88      0.91     14736
        >50K       0.60      0.79      0.68      3353

    accuracy                           0.86     18089
   macro avg       0.77      0.84      0.80     18089
weighted avg       0.88      0.86      0.87     18089

In [ ]:
conda install xgboost